.climacon-white .climacon_component-stroke {
  fill : #FFFFFF;
}

.climacon-black .climacon_component-stroke {
  fill : #000000;
}

.climacon-primary.climacon-lighten-5 .climacon_component-stroke {
  fill : #D5D7F9;
}

.climacon-primary.climacon-lighten-4 .climacon_component-stroke {
  fill : #BFC2F5;
}

.climacon-primary.climacon-lighten-3 .climacon_component-stroke {
  fill : #A9ADF2;
}

.climacon-primary.climacon-lighten-2 .climacon_component-stroke {
  fill : #9298EF;
}

.climacon-primary.climacon-lighten-1 .climacon_component-stroke {
  fill : #7C83EB;
}

.climacon-primary .climacon_component-stroke {
  fill : #666EE8;
}

.climacon-primary .climacon_component-fill {
  fill : #BFC2F5;
}

.climacon-primary.climacon-darken-1 .climacon_component-stroke {
  fill : #5059E5;
}

.climacon-primary.climacon-darken-2 .climacon_component-stroke {
  fill : #3A44E1;
}

.climacon-primary.climacon-darken-3 .climacon_component-stroke {
  fill : #232FDE;
}

.climacon-primary.climacon-darken-4 .climacon_component-stroke {
  fill : #1E29CA;
}

.climacon-primary.climacon-accent-1 .climacon_component-stroke {
  fill : #EFEFFF;
}

.climacon-primary.climacon-accent-2 .climacon_component-stroke {
  fill : #DBDBFF;
}

.climacon-primary.climacon-accent-3 .climacon_component-stroke {
  fill : #BCBFFF;
}

.climacon-primary.climacon-accent-4 .climacon_component-stroke {
  fill : #A2A6FF;
}

.climacon-secondary.climacon-lighten-5 .climacon_component-stroke {
  fill : #AFB2BD;
}

.climacon-secondary.climacon-lighten-4 .climacon_component-stroke {
  fill : #A1A4B2;
}

.climacon-secondary.climacon-lighten-3 .climacon_component-stroke {
  fill : #9397A6;
}

.climacon-secondary.climacon-lighten-2 .climacon_component-stroke {
  fill : #85899B;
}

.climacon-secondary.climacon-lighten-1 .climacon_component-stroke {
  fill : #777B8F;
}

.climacon-secondary .climacon_component-stroke {
  fill : #6B6F82;
}

.climacon-secondary .climacon_component-fill {
  fill : #A1A4B2;
}

.climacon-secondary.climacon-darken-1 .climacon_component-stroke {
  fill : #5F6374;
}

.climacon-secondary.climacon-darken-2 .climacon_component-stroke {
  fill : #545766;
}

.climacon-secondary.climacon-darken-3 .climacon_component-stroke {
  fill : #484B58;
}

.climacon-secondary.climacon-darken-4 .climacon_component-stroke {
  fill : #3D3F4A;
}

.climacon-success.climacon-lighten-5 .climacon_component-stroke {
  fill : #8EE9C9;
}

.climacon-success.climacon-lighten-4 .climacon_component-stroke {
  fill : #79E5BE;
}

.climacon-success.climacon-lighten-3 .climacon_component-stroke {
  fill : #63E1B4;
}

.climacon-success.climacon-lighten-2 .climacon_component-stroke {
  fill : #4EDDAA;
}

.climacon-success.climacon-lighten-1 .climacon_component-stroke {
  fill : #39D9A0;
}

.climacon-success .climacon_component-stroke {
  fill : #28D094;
}

.climacon-success .climacon_component-fill {
  fill : #79E5BE;
}

.climacon-success.climacon-darken-1 .climacon_component-stroke {
  fill : #24BB85;
}

.climacon-success.climacon-darken-2 .climacon_component-stroke {
  fill : #20A576;
}

.climacon-success.climacon-darken-3 .climacon_component-stroke {
  fill : #1C9066;
}

.climacon-success.climacon-darken-4 .climacon_component-stroke {
  fill : #187A57;
}

.climacon-success.climacon-accent-1 .climacon_component-stroke {
  fill : #E1FFF0;
}

.climacon-success.climacon-accent-2 .climacon_component-stroke {
  fill : #AEFFD5;
}

.climacon-success.climacon-accent-3 .climacon_component-stroke {
  fill : #7BFFBB;
}

.climacon-success.climacon-accent-4 .climacon_component-stroke {
  fill : #62FFAE;
}

.climacon-info.climacon-lighten-5 .climacon_component-stroke {
  fill : #97D2F9;
}

.climacon-info.climacon-lighten-4 .climacon_component-stroke {
  fill : #7EC8F8;
}

.climacon-info.climacon-lighten-3 .climacon_component-stroke {
  fill : #66BEF6;
}

.climacon-info.climacon-lighten-2 .climacon_component-stroke {
  fill : #4EB4F5;
}

.climacon-info.climacon-lighten-1 .climacon_component-stroke {
  fill : #36A9F3;
}

.climacon-info .climacon_component-stroke {
  fill : #1E9FF2;
}

.climacon-info .climacon_component-fill {
  fill : #7EC8F8;
}

.climacon-info.climacon-darken-1 .climacon_component-stroke {
  fill : #0D93E9;
}

.climacon-info.climacon-darken-2 .climacon_component-stroke {
  fill : #0C84D1;
}

.climacon-info.climacon-darken-3 .climacon_component-stroke {
  fill : #0B75B9;
}

.climacon-info.climacon-darken-4 .climacon_component-stroke {
  fill : #0965A1;
}

.climacon-info.climacon-accent-1 .climacon_component-stroke {
  fill : #EFF5FF;
}

.climacon-info.climacon-accent-2 .climacon_component-stroke {
  fill : #DFECFF;
}

.climacon-info.climacon-accent-3 .climacon_component-stroke {
  fill : #ACCFFF;
}

.climacon-info.climacon-accent-4 .climacon_component-stroke {
  fill : #92C0FF;
}

.climacon-warning.climacon-lighten-5 .climacon_component-stroke {
  fill : #FFDEC9;
}

.climacon-warning.climacon-lighten-4 .climacon_component-stroke {
  fill : #FFCFAF;
}

.climacon-warning.climacon-lighten-3 .climacon_component-stroke {
  fill : #FFBF96;
}

.climacon-warning.climacon-lighten-2 .climacon_component-stroke {
  fill : #FFB07C;
}

.climacon-warning.climacon-lighten-1 .climacon_component-stroke {
  fill : #FFA063;
}

.climacon-warning .climacon_component-stroke {
  fill : #FF9149;
}

.climacon-warning .climacon_component-fill {
  fill : #FFCFAF;
}

.climacon-warning.climacon-darken-1 .climacon_component-stroke {
  fill : #FF8230;
}

.climacon-warning.climacon-darken-2 .climacon_component-stroke {
  fill : #FF7216;
}

.climacon-warning.climacon-darken-3 .climacon_component-stroke {
  fill : #FC6300;
}

.climacon-warning.climacon-darken-4 .climacon_component-stroke {
  fill : #E25900;
}

.climacon-warning.climacon-accent-1 .climacon_component-stroke {
  fill : #FFF5EF;
}

.climacon-warning.climacon-accent-2 .climacon_component-stroke {
  fill : #FFE5D8;
}

.climacon-warning.climacon-accent-3 .climacon_component-stroke {
  fill : #FFDDD0;
}

.climacon-warning.climacon-accent-4 .climacon_component-stroke {
  fill : #FFCAB7;
}

.climacon-danger.climacon-lighten-5 .climacon_component-stroke {
  fill : #FFC9D0;
}

.climacon-danger.climacon-lighten-4 .climacon_component-stroke {
  fill : #FFAFBA;
}

.climacon-danger.climacon-lighten-3 .climacon_component-stroke {
  fill : #FF96A3;
}

.climacon-danger.climacon-lighten-2 .climacon_component-stroke {
  fill : #FF7C8D;
}

.climacon-danger.climacon-lighten-1 .climacon_component-stroke {
  fill : #FF6377;
}

.climacon-danger .climacon_component-stroke {
  fill : #FF4961;
}

.climacon-danger .climacon_component-fill {
  fill : #FFAFBA;
}

.climacon-danger.climacon-darken-1 .climacon_component-stroke {
  fill : #FF304B;
}

.climacon-danger.climacon-darken-2 .climacon_component-stroke {
  fill : #FF1635;
}

.climacon-danger.climacon-darken-3 .climacon_component-stroke {
  fill : #FC0021;
}

.climacon-danger.climacon-darken-4 .climacon_component-stroke {
  fill : #E2001E;
}

.climacon-danger.climacon-accent-1 .climacon_component-stroke {
  fill : #FFEEF1;
}

.climacon-danger.climacon-accent-2 .climacon_component-stroke {
  fill : #FFD6DB;
}

.climacon-danger.climacon-accent-3 .climacon_component-stroke {
  fill : #FFD0D3;
}

.climacon-danger.climacon-accent-4 .climacon_component-stroke {
  fill : #FFB7BC;
}

.climacon-light .climacon_component-stroke {
  fill : #E0E0E0;
}

.climacon-light.climacon-lighten-1 .climacon_component-stroke {
  fill : #BDBDBD;
}

.climacon-light.climacon-darken-1 .climacon_component-stroke {
  fill : #9E9E9E;
}

.climacon-dark .climacon_component-stroke {
  fill : #424242;
}

.climacon-dark.climacon-lighten-1 .climacon_component-stroke {
  fill : #616161;
}

.climacon-dark.climacon-darken-1 .climacon_component-stroke {
  fill : #212121;
}

.climacon-red.climacon-lighten-5 .climacon_component-stroke {
  fill : #FFEBEE;
}

.climacon-red.climacon-lighten-4 .climacon_component-stroke {
  fill : #FFCDD2;
}

.climacon-red.climacon-lighten-3 .climacon_component-stroke {
  fill : #EF9A9A;
}

.climacon-red.climacon-lighten-2 .climacon_component-stroke {
  fill : #E57373;
}

.climacon-red.climacon-lighten-1 .climacon_component-stroke {
  fill : #EF5350;
}

.climacon-red .climacon_component-stroke {
  fill : #F44336;
}

.climacon-red .climacon_component-fill {
  fill : #FFCDD2;
}

.climacon-red.climacon-darken-1 .climacon_component-stroke {
  fill : #E53935;
}

.climacon-red.climacon-darken-2 .climacon_component-stroke {
  fill : #D32F2F;
}

.climacon-red.climacon-darken-3 .climacon_component-stroke {
  fill : #C62828;
}

.climacon-red.climacon-darken-4 .climacon_component-stroke {
  fill : #B71C1C;
}

.climacon-red.climacon-accent-1 .climacon_component-stroke {
  fill : #FF8A80;
}

.climacon-red.climacon-accent-2 .climacon_component-stroke {
  fill : #FF5252;
}

.climacon-red.climacon-accent-3 .climacon_component-stroke {
  fill : #FF1744;
}

.climacon-red.climacon-accent-4 .climacon_component-stroke {
  fill : #D50000;
}

.climacon-pink.climacon-lighten-5 .climacon_component-stroke {
  fill : #FCE4EC;
}

.climacon-pink.climacon-lighten-4 .climacon_component-stroke {
  fill : #F8BBD0;
}

.climacon-pink.climacon-lighten-3 .climacon_component-stroke {
  fill : #F48FB1;
}

.climacon-pink.climacon-lighten-2 .climacon_component-stroke {
  fill : #F06292;
}

.climacon-pink.climacon-lighten-1 .climacon_component-stroke {
  fill : #EC407A;
}

.climacon-pink .climacon_component-stroke {
  fill : #E91E63;
}

.climacon-pink .climacon_component-fill {
  fill : #F8BBD0;
}

.climacon-pink.climacon-darken-1 .climacon_component-stroke {
  fill : #D81B60;
}

.climacon-pink.climacon-darken-2 .climacon_component-stroke {
  fill : #C2185B;
}

.climacon-pink.climacon-darken-3 .climacon_component-stroke {
  fill : #AD1457;
}

.climacon-pink.climacon-darken-4 .climacon_component-stroke {
  fill : #880E4F;
}

.climacon-pink.climacon-accent-1 .climacon_component-stroke {
  fill : #FF80AB;
}

.climacon-pink.climacon-accent-2 .climacon_component-stroke {
  fill : #FF4081;
}

.climacon-pink.climacon-accent-3 .climacon_component-stroke {
  fill : #F50057;
}

.climacon-pink.climacon-accent-4 .climacon_component-stroke {
  fill : #C51162;
}

.climacon-purple.climacon-lighten-5 .climacon_component-stroke {
  fill : #F3E5F5;
}

.climacon-purple.climacon-lighten-4 .climacon_component-stroke {
  fill : #E1BEE7;
}

.climacon-purple.climacon-lighten-3 .climacon_component-stroke {
  fill : #CE93D8;
}

.climacon-purple.climacon-lighten-2 .climacon_component-stroke {
  fill : #BA68C8;
}

.climacon-purple.climacon-lighten-1 .climacon_component-stroke {
  fill : #AB47BC;
}

.climacon-purple .climacon_component-stroke {
  fill : #9C27B0;
}

.climacon-purple .climacon_component-fill {
  fill : #E1BEE7;
}

.climacon-purple.climacon-darken-1 .climacon_component-stroke {
  fill : #8E24AA;
}

.climacon-purple.climacon-darken-2 .climacon_component-stroke {
  fill : #7B1FA2;
}

.climacon-purple.climacon-darken-3 .climacon_component-stroke {
  fill : #6A1B9A;
}

.climacon-purple.climacon-darken-4 .climacon_component-stroke {
  fill : #4A148C;
}

.climacon-purple.climacon-accent-1 .climacon_component-stroke {
  fill : #EA80FC;
}

.climacon-purple.climacon-accent-2 .climacon_component-stroke {
  fill : #E040FB;
}

.climacon-purple.climacon-accent-3 .climacon_component-stroke {
  fill : #D500F9;
}

.climacon-purple.climacon-accent-4 .climacon_component-stroke {
  fill : #DD00FF;
}

.climacon-blue.climacon-lighten-5 .climacon_component-stroke {
  fill : #E3F2FD;
}

.climacon-blue.climacon-lighten-4 .climacon_component-stroke {
  fill : #BBDEFB;
}

.climacon-blue.climacon-lighten-3 .climacon_component-stroke {
  fill : #90CAF9;
}

.climacon-blue.climacon-lighten-2 .climacon_component-stroke {
  fill : #64B5F6;
}

.climacon-blue.climacon-lighten-1 .climacon_component-stroke {
  fill : #42A5F5;
}

.climacon-blue .climacon_component-stroke {
  fill : #2196F3;
}

.climacon-blue .climacon_component-fill {
  fill : #BBDEFB;
}

.climacon-blue.climacon-darken-1 .climacon_component-stroke {
  fill : #1E88E5;
}

.climacon-blue.climacon-darken-2 .climacon_component-stroke {
  fill : #1976D2;
}

.climacon-blue.climacon-darken-3 .climacon_component-stroke {
  fill : #1565C0;
}

.climacon-blue.climacon-darken-4 .climacon_component-stroke {
  fill : #0D47A1;
}

.climacon-blue.climacon-accent-1 .climacon_component-stroke {
  fill : #82B1FF;
}

.climacon-blue.climacon-accent-2 .climacon_component-stroke {
  fill : #448AFF;
}

.climacon-blue.climacon-accent-3 .climacon_component-stroke {
  fill : #2979FF;
}

.climacon-blue.climacon-accent-4 .climacon_component-stroke {
  fill : #2962FF;
}

.climacon-cyan.climacon-lighten-5 .climacon_component-stroke {
  fill : #E0F7FA;
}

.climacon-cyan.climacon-lighten-4 .climacon_component-stroke {
  fill : #B2EBF2;
}

.climacon-cyan.climacon-lighten-3 .climacon_component-stroke {
  fill : #80DEEA;
}

.climacon-cyan.climacon-lighten-2 .climacon_component-stroke {
  fill : #4DD0E1;
}

.climacon-cyan.climacon-lighten-1 .climacon_component-stroke {
  fill : #26C6DA;
}

.climacon-cyan .climacon_component-stroke {
  fill : #00BCD4;
}

.climacon-cyan .climacon_component-fill {
  fill : #B2EBF2;
}

.climacon-cyan.climacon-darken-1 .climacon_component-stroke {
  fill : #00ACC1;
}

.climacon-cyan.climacon-darken-2 .climacon_component-stroke {
  fill : #0097A7;
}

.climacon-cyan.climacon-darken-3 .climacon_component-stroke {
  fill : #00838F;
}

.climacon-cyan.climacon-darken-4 .climacon_component-stroke {
  fill : #006064;
}

.climacon-cyan.climacon-accent-1 .climacon_component-stroke {
  fill : #84FFFF;
}

.climacon-cyan.climacon-accent-2 .climacon_component-stroke {
  fill : #18FFFF;
}

.climacon-cyan.climacon-accent-3 .climacon_component-stroke {
  fill : #00E5FF;
}

.climacon-cyan.climacon-accent-4 .climacon_component-stroke {
  fill : #00B8D4;
}

.climacon-teal.climacon-lighten-5 .climacon_component-stroke {
  fill : #E0F2F1;
}

.climacon-teal.climacon-lighten-4 .climacon_component-stroke {
  fill : #B2DFDB;
}

.climacon-teal.climacon-lighten-3 .climacon_component-stroke {
  fill : #80CBC4;
}

.climacon-teal.climacon-lighten-2 .climacon_component-stroke {
  fill : #4DB6AC;
}

.climacon-teal.climacon-lighten-1 .climacon_component-stroke {
  fill : #26A69A;
}

.climacon-teal .climacon_component-stroke {
  fill : #009688;
}

.climacon-teal .climacon_component-fill {
  fill : #B2DFDB;
}

.climacon-teal.climacon-darken-1 .climacon_component-stroke {
  fill : #00897B;
}

.climacon-teal.climacon-darken-2 .climacon_component-stroke {
  fill : #00796B;
}

.climacon-teal.climacon-darken-3 .climacon_component-stroke {
  fill : #00695C;
}

.climacon-teal.climacon-darken-4 .climacon_component-stroke {
  fill : #004D40;
}

.climacon-teal.climacon-accent-1 .climacon_component-stroke {
  fill : #A7FFEB;
}

.climacon-teal.climacon-accent-2 .climacon_component-stroke {
  fill : #64FFDA;
}

.climacon-teal.climacon-accent-3 .climacon_component-stroke {
  fill : #1DE9B6;
}

.climacon-teal.climacon-accent-4 .climacon_component-stroke {
  fill : #00BFA5;
}

.climacon-yellow.climacon-lighten-5 .climacon_component-stroke {
  fill : #FFFDE7;
}

.climacon-yellow.climacon-lighten-4 .climacon_component-stroke {
  fill : #FFF9C4;
}

.climacon-yellow.climacon-lighten-3 .climacon_component-stroke {
  fill : #FFF59D;
}

.climacon-yellow.climacon-lighten-2 .climacon_component-stroke {
  fill : #FFF176;
}

.climacon-yellow.climacon-lighten-1 .climacon_component-stroke {
  fill : #FFEE58;
}

.climacon-yellow .climacon_component-stroke {
  fill : #FFEB3B;
}

.climacon-yellow .climacon_component-fill {
  fill : #FFF9C4;
}

.climacon-yellow.climacon-darken-1 .climacon_component-stroke {
  fill : #FDD835;
}

.climacon-yellow.climacon-darken-2 .climacon_component-stroke {
  fill : #FBC02D;
}

.climacon-yellow.climacon-darken-3 .climacon_component-stroke {
  fill : #F9A825;
}

.climacon-yellow.climacon-darken-4 .climacon_component-stroke {
  fill : #F57F17;
}

.climacon-yellow.climacon-accent-1 .climacon_component-stroke {
  fill : #FFFF8D;
}

.climacon-yellow.climacon-accent-2 .climacon_component-stroke {
  fill : #FFFF00;
}

.climacon-yellow.climacon-accent-3 .climacon_component-stroke {
  fill : #FFEA00;
}

.climacon-yellow.climacon-accent-4 .climacon_component-stroke {
  fill : #FFD600;
}

.climacon-amber.climacon-lighten-5 .climacon_component-stroke {
  fill : #FFF8E1;
}

.climacon-amber.climacon-lighten-4 .climacon_component-stroke {
  fill : #FFECB3;
}

.climacon-amber.climacon-lighten-3 .climacon_component-stroke {
  fill : #FFE082;
}

.climacon-amber.climacon-lighten-2 .climacon_component-stroke {
  fill : #FFD54F;
}

.climacon-amber.climacon-lighten-1 .climacon_component-stroke {
  fill : #FFCA28;
}

.climacon-amber .climacon_component-stroke {
  fill : #FFC107;
}

.climacon-amber .climacon_component-fill {
  fill : #FFECB3;
}

.climacon-amber.climacon-darken-1 .climacon_component-stroke {
  fill : #FFB300;
}

.climacon-amber.climacon-darken-2 .climacon_component-stroke {
  fill : #FFA000;
}

.climacon-amber.climacon-darken-3 .climacon_component-stroke {
  fill : #FF8F00;
}

.climacon-amber.climacon-darken-4 .climacon_component-stroke {
  fill : #FF6F00;
}

.climacon-amber.climacon-accent-1 .climacon_component-stroke {
  fill : #FFE57F;
}

.climacon-amber.climacon-accent-2 .climacon_component-stroke {
  fill : #FFD740;
}

.climacon-amber.climacon-accent-3 .climacon_component-stroke {
  fill : #FFC400;
}

.climacon-amber.climacon-accent-4 .climacon_component-stroke {
  fill : #FFAB00;
}

.climacon-blue-grey.climacon-lighten-5 .climacon_component-stroke {
  fill : #ECEFF1;
}

.climacon-blue-grey.climacon-lighten-4 .climacon_component-stroke {
  fill : #CFD8DC;
}

.climacon-blue-grey.climacon-lighten-3 .climacon_component-stroke {
  fill : #B0BEC5;
}

.climacon-blue-grey.climacon-lighten-2 .climacon_component-stroke {
  fill : #90A4AE;
}

.climacon-blue-grey.climacon-lighten-1 .climacon_component-stroke {
  fill : #78909C;
}

.climacon-blue-grey .climacon_component-stroke {
  fill : #607D8B;
}

.climacon-blue-grey .climacon_component-fill {
  fill : #CFD8DC;
}

.climacon-blue-grey.climacon-darken-1 .climacon_component-stroke {
  fill : #546E7A;
}

.climacon-blue-grey.climacon-darken-2 .climacon_component-stroke {
  fill : #455A64;
}

.climacon-blue-grey.climacon-darken-3 .climacon_component-stroke {
  fill : #37474F;
}

.climacon-blue-grey.climacon-darken-4 .climacon_component-stroke {
  fill : #263238;
}

.climacon-grey-blue.climacon-lighten-5 .climacon_component-stroke {
  fill : #ECEFF1;
}

.climacon-grey-blue.climacon-lighten-4 .climacon_component-stroke {
  fill : #CFD8DC;
}

.climacon-grey-blue.climacon-lighten-3 .climacon_component-stroke {
  fill : #B0BEC5;
}

.climacon-grey-blue.climacon-lighten-2 .climacon_component-stroke {
  fill : #6F85AD;
}

.climacon-grey-blue.climacon-lighten-1 .climacon_component-stroke {
  fill : #78909C;
}

.climacon-grey-blue .climacon_component-stroke {
  fill : #1B2942;
}

.climacon-grey-blue .climacon_component-fill {
  fill : #CFD8DC;
}

.climacon-grey-blue.climacon-darken-1 .climacon_component-stroke {
  fill : #546E7A;
}

.climacon-grey-blue.climacon-darken-2 .climacon_component-stroke {
  fill : #2C303B;
}

.climacon-grey-blue.climacon-darken-3 .climacon_component-stroke {
  fill : #37474F;
}

.climacon-grey-blue.climacon-darken-4 .climacon_component-stroke {
  fill : #263238;
}

.climacon-shades.climacon-black .climacon_component-stroke {
  fill : #000000;
}

.climacon-shades.climacon-white .climacon_component-stroke {
  fill : #FFFFFF;
}

.climacon-shades.climacon-transparent .climacon_component-stroke {
  fill : transparent;
}